@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");

#header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 4px;
  width: 100%;
  background-color: #000;
  z-index: 9999;
  height: 70px;
  color: #ccc;
  display: flex;
  justify-content: flex-start; /*左詰め*/
  align-items: center;
  gap: 10px; /*間隔調整*/
}

#header h2 {
  font-family: "Cherry Swash", cursive;
  margin-left: 30px;
}

#header p {
  font-family: "Noto Serif JP", sans-serif;
  margin: 0;
  margin-left: 30px;
}

.top-image {
  width: 100%;
}

.name {
  display: flex;
  justify-content: flex-end; /*左詰め*/
  align-items: center;
  gap: 30px; /*間隔調整*/
}

.introduction h1 {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 3em;
  margin-left: 50px;
  margin-top: 50px;
}

.text h2 {
  font-size: 4em;
}

.introduction .content {
  margin-left: 50px;
  display: flex;
  align-items: flex-start; /* 上端揃え */
  gap: 20px; /* テキストと画像の間隔を設定 */
}

.introduction .text {
  flex: 1; /* テキスト部分を柔軟に拡大縮小 */
}

.introduction img {
  margin-right: 50px;
  width: 40%; /* 画像の横幅を画面の40%に設定 */
  border-radius: 8px; /* 画像の角を丸める */
  box-shadow: 30px 30px 0 #c3a400; /* 画像にシャドウを追加 */
}
